spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rentvideo
    username: root
    password: your_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    user:
      name: disabled
      password: disabled
